.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

body {
    background-color: #B2D2A4;
}

header {
    display: flex;
    order: 1;
}

h1 {
    color: #34472d;
    position: absolute;
    left: 55%;
    top: 20%;
}

a {
    position: absolute;
    left: 55%;
    top: 28%;

}

p {
    position: absolute;
    left: 55%;
    top: 30%;
}

.cv {
    position: absolute;
    left: 55%;
    top: 38%;
}

button {
  background-color: #5b7f4d;
  border: 0 solid #e2e8f0;
  border-radius: 200px;
  box-sizing: border-box;
  cursor: pointer;
  line-height: 1;
  padding: 10px 15px;
  text-align: center;
}
